body {
    background-color: #EAEBED;
}
button {
    background-color: #74BDE0;
    border: 4px inset #3B7197;
    border-radius: 10px 10px 10px 10px;
}
button:hover{
    background-color: #3B7197;
    border: 4px inset #74BDE0;
    border-radius: 10px 10px 10px 10px;
}
h1 {
    margin-top: 100px;
    height:75px;
    text-align: center;
    margin-bottom: 20px;

}
.title-question {
    text-decoration: none;
    color: black;
    text-align: center;
}
.all-table-question {
    height: 180px;
    width:1000px;
    resize:both;
    margin: auto;
    background-color: lightgray;
}
.all-table-question:hover {
    height: 180px;
    width:1000px;
    resize:both;
    margin: auto;
    background-color: darkgray;
}
.submission-time {
    position: relative;
    top: -50px;
}

.button-all-question {
    text-decoration: none;
    color: black;
}


.nav_bar{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   padding: 10px 30px;
   background-color: rgb(169, 169, 169);
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-content: center;
   align-items: center;
}

.main-iner{
   display: flexbox;
}

.main-iner-link{
   margin-right: 50px;
   color: #1a1a1a;
   font-size: 20px;
   font-weight: 700;
   text-decoration:none;
   position: relative;
   letter-spacing:1px;
}

.navbar-brand{
   text-decoration:none;
   color: #1c1b1b;
   font-weight: 700;
}

.btn-nav_bar{
   color: #1c1b1b;
   text-decoration:none;
   font-size: 18px;
   padding: 5px 7px;
}

.btn-btn{
   margin-right: 20px;
}

.container {
   text-decoration:none;
   max-width: 1300px;
   margin: 0 auto;
 }

 .form-container{
   max-width: 500px;
   margin: 0 auto;
 }

 .form-group{
   display: flex;
   flex-direction: column;
   font-size: 20px;
   margin-bottom: 20px;
 }

 .form-control{
   height: 30px;
 }

 .form-check{
   font-size: 20px;
   margin-bottom: 20px;
 }

 .btn-form{
   font-size: 25px;
   padding: 8px 20px;
 }

 .nav_bar-btn-alternative{
   display: flex;
   align-items: center;
 }

 .btn-nav_bar_alternative{
   margin-left: 20px;
   font-size: 15px;
   height: 40px;
 }