<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add question</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>

<body>
<h1>ASK MATE</h1>
    <h3>Add question</h3>
    <form action="/add-question" method="post" enctype="multipart/form-data">
        <p><label for="title">Title:</label><br><br>
            <textarea id="title" name="title" rows="1" cols="60" value=""> </textarea>
        <p><label for="message">Message:</label><br><br>
            <textarea id="message" name="message" rows="4" cols="60" value=""></textarea><br><br>

        <div>
        <label for="question_pic">Add Picture</label><br>
        <input type="file" id="question_pic" name="question_pic" accept=".jpg, .jpeg, .png">
        </div>
        <div>
             <button type="submit">Save question</button>
        </div>
    </form>

</body>

</html>