{% extends 'main.html' %}
{% block title %}
Add question
{% endblock %}

{% block body %}
<h1>ASK MATE</h1>
<div class="container">
    <h3>Add question</h3>

  <div class="main-edit">
 
      <form action="/add-question" method="post">
         <div class="form-edit">
            <label for="title">Title:</label>
            <textarea class="edit-form-1" id="title" name="title" rows="1" cols="60" value=""></textarea>
         </div>
         <div class="form-edit-1">
            <label for="message">Message:</label><br><br>
            <textarea class="edit-form" id="message" name="message" rows="4" cols="60" value=""></textarea><br><br>
         </div>   
            <button class="btn-ask-question" type="submit">Save question</button>
      </form>
  </div>

</div>
{% endblock %}
{% block footer %}
{% endblock %}