{% extends 'main.html' %}
{% block title %}
Add tag
{% endblock %}

{% block body %}
<h1>ASK MATE</h1>
<div class="container">
      <h3>Give a new tag!</h3>
   <div class="main-edit">
      <form action="/question/{{ question_id }} ">
         <button class="btn-question-block" id="home" type="submit" >BACK</button>
      </form>
      <div class="form-edit">
         <form action="{{ url_for('add_tag_to_question', question_id=question_id) }}" method="POST">
            <label  for="tags">Add tag</label>
            <input class="edit-add-tag" name="new_tag" type="text" list="tags"/>
            <datalist id="tags">
                {% for tag in tags %}
                    <option>{{ tag['name'] }}</option>
                {% endfor %}
            </datalist>
            <button type="submit" value="Submit" name="Submit" class="btn-question-block">Submit</button>

            </form>
      </div>
      
   </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}

