{% extends 'main.html' %}

{% block title %}
questions
{% endblock %}

{% block body %}
<h1>AskMate</h1>
<div class="container">
        <h2>All Questions:</h2>
        <button id="theme-button">Change Theme to Dark</button>
        <button id="increase-font-button">Increase page font</button>
        <button id="decrease-font-button">Decrease page font</button>
        <input
                data-table-body="doNotModifyThisId_QuestionsTableBody"
                style="width: 500px" id="doNotModifyThisId_QuestionsFilter"
                type="text"
                placeholder="filter questions by keywords">
        <table>
            <thead id="doNotModifyThisId_QuestionsTableHeader">
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Vote Count</td>
                    <td>View Number</td>
                </tr>
            </thead>
            <tbody id="doNotModifyThisId_QuestionsTableBody">
                {% for question in questions %}
                    <tr>
                        <td>{{ question['title'] }}</td>
                        <td>{{ question['description'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                        <td>{{ question['view_number'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
   </div>
{% endblock %}
