{% extends 'main.html' %}

{% block title %}
bonus-questions
{% endblock %}

{% block body %}
<h1>AskMate</h1>
<div class="container">
        <h3>Bonus Questions:</h3>
        <div class="bonus-heder">
            <button id="theme-button">Change Theme to Dark</button>
            <button id="increase-font-button">Increase page font</button>
            <button id="decrease-font-button">Decrease page font</button>
            <div class="bonus-heder-input">
               <input class="bonus-input"
                  data-table-body="doNotModifyThisId_QuestionsTableBody"
                  style="width: 500px" id="doNotModifyThisId_QuestionsFilter"
                  type="text"
                  placeholder="filter questions by keywords">
            </div>
        </div>
        <table class="table-bonus">
            <thead id="doNotModifyThisId_QuestionsTableHeader">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Vote Count</th>
                    <th>View Number</th>
                </tr>
            </thead>
            <tbody id="doNotModifyThisId_QuestionsTableBody">
                {% for question in questions %}
                    <tr>
                        <td>{{ question['title'] }}</td>
                        <td>{{ question['description'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                        <td>{{ question['view_number'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
   </div>
{% endblock %}
