{% extends 'main.html' %}
{% block title %}
Answer comment
{% endblock %}
{% block body %}

<h1>ASK MATE</h1>
<div class="container">
    <h3>Enter your comment:</h3>
    <form action='{{ url_for('comment_to_answer', answer_id=answer_id, question_id=question_id) }}' method="POST">
        <p><label for="message">Comment:</label><br>
            <textarea id="message" name="message" rows="5" cols="60"></textarea><br><br>
            <button class="btn-nav_bar" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}