<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
                <title>Answer comment</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
<h1>ASK MATE</h1>
    <h3>Enter your comment:</h3>
    <form action='{{ url_for('comment_to_answer', answer_id=answer_id, question_id=question_id) }}' method="POST">
        <p><label for="message">Comment:</label><br>
            <textarea id="message" name="message" rows="5" cols="60"></textarea><br><br>
            <button type="submit">Submit</button>
    </form>
</body>
</html>