{% extends 'main.html' %}
{% block title %}
Edit Comment
{% endblock %}

{% block body %}
<h1>ASK MATE</h1>
<div class="container">
    <h3>Edit comment</h3>
    <form action='/comment/{{ comment['id'] }}/edit' method="POST">
        <p><label for="message">Message:</label><br><br>
            <textarea id="message" name="message" rows="4" cols="60"> {{ comment['message'] }}</textarea><br><br>
            <button class="btn-nav_bar"type="submit">Save comment</button>
    </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}