{% extends 'main.html' %}
{% block title %}
edit_question
{% endblock %}

{% block body %}
<h1>ASK MATE</h1>
<div class="container">
      <h3>Edit question</h3>
   <div class="main-edit">
         <form action='/question/{{ question_id }}/edit' method="POST">
      <div class="form-edit">
         <label class="form-edit-label" for="title">Title:</label>
         <textarea class="edit-form-1" id="title" name="title" > {{ question['title'] }} </textarea>
      </div>
      <div class="form-edit-1">
         <label class="form-edit-label" for="message">Message:</label>
         <textarea class="edit-form" id="message" name="message"> {{ question['message'] }}</textarea>
      </div>
      <button class="btn-question-block" type="submit">Save question</button>
      </form>
   </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}