<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ask Mate List</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
<h1>ASK MATE</h1>
<button><a  class="button-all-question" href="/">Back</a></button>
<form action="/list">
    <label for="order_by">
      Sort by:
    </label><br>
    <select name="order_by">
      <option value="title" {% if order_by == 'title'%} selected {% endif %}>
        Title
      </option>
      <option value="submission_time" {% if order_by == 'submission_time'%} selected {% endif %}>
        Time
      </option>
      <option value="message" {% if order_by == 'message'%} selected {% endif %}>
        Message
      </option>
      <option value="view_number" {% if order_by == 'view_number'%} selected {% endif %}>
        Views
      </option>
        <option value="vote_number" {% if order_by == 'vote_number'%} selected {% endif %}>
        Votes
      </option>
    </select>
    <select name="order_direction">
      <option value="asc" {% if order_direction == 'asc'%} selected {% endif %}>
        Ascending
      </option>
      <option value="desc" {% if order_direction == 'desc'%} selected {% endif %}>
        Descending
      </option>
    </select>
    <button type="submit">Sort</button>
  </form>

<br>
<table border='solid'>
    <thead>
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for story in stories %}
        <tr>
            {% for key,value in story.items() %}
            {% if key == 'id' %}
            <th><a href="{{ url_for('question',question_id = value, increment_view_number= True) }}">{{ value }} </a></th>
            {% else %}
            <th>{{ value }}</th>
            {% endif %}
            {% endfor %}

        </tr>
        {% endfor %}
    </tbody>

</table>

<form action="{{ url_for ('add_question')}}">
    <button type="submit">Add question</button>
</form>

</body>

</html>