{% extends 'main.html' %}
{% block title %}
new answer
{% endblock %}

{% block body %}
<h1>ASK MATE</h1>
<div class="container">
    <form action='/question/{{ question_id}}/new-answer' method="post">
        <p><label for="message">Add answer:</label><br><br>
            <textarea id="message" name="message" rows="4" cols="60" value=""></textarea><br><br>
            <button class="btn-ask-question" type="submit">Save answer</button>
    </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}