<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>

<body>
<h1>ASK MATE</h1>
    <form action='/question/{{ question_id}}/new-answer' method="post">
        <p><label for="message">Add answer:</label><br><br>
            <textarea id="message" name="message" rows="4" cols="60" value=""></textarea><br><br>
            <button type="submit">Save answer</button>
    </form>
</body>

</html>