{% extends 'main.html' %}

{% block title %}
questions
{% endblock %}

{% block body %}
<h1>All Questions</h1>
<div class="container_iner">
   <button class="btn-ask-question"><a class="ask-question" href="{{ url_for ('add_question')}}">Ask Question</a></button>
   {% for question in stories %}
   <div class="all-table-question">
      <div class="all-table-question-item">
         <div class="question-item"> {{ question.answer_number }}answers</div>
         <div class="question-item"> {{ question.view_number }} views</div>
         <div class="question-item"> {{ question.vote_number }} votes</div>
      </div>
      <div class="all-table-question-iner">
         <h4><a class="title-question"
               href="{{ url_for('question',question_id = question['id'], increment_view_number= True) }}">{{
               question.title }}</a></h4>
         <div class="table-massage">{{ question.message }}</div>
         <div class="table-tags">#tag</div>
         <div class="submission-time" style="float:right">{{ question.submission_time }}</div>
      </div>

   </div>
   {% endfor %}
</div>
{% endblock %}