<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>
    <table border='solid'>
        <thead>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for user in users_list %}
                <tr>
                {% for key,value in user.items() %}
                    <td>
                    {% if key == 'user_name' %}
                        <a href="{{ url_for('user_details',user_id=user['id']) }}">{{ value }} </a>
                    {% else %}
                        {{ value }}
                    {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>